.poster {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../../static/run_2.png") top center;
    background-size: cover;
    background-repeat: no-repeat;
}